#N
rst_n
clk_i
d_out\[.*\]

#W

#E
clk_o
out_n
out_p
d_ctrl_n\[7\]
d_ctrl_n\[6\]
d_ctrl_n\[5\]
d_ctrl_n\[4\]
d_ctrl_n\[3\]
d_ctrl_n\[2\]
d_ctrl_n\[1\]
d_ctrl_n\[0\]
phi_bottom_n
phi_bottom
phi_top_n
phi_top
d_ctrl\[7\]
d_ctrl\[6\]
d_ctrl\[5\]
d_ctrl\[4\]
d_ctrl\[3\]
d_ctrl\[2\]
d_ctrl\[1\]
d_ctrl\[0\]

#S